body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", "Tahoma", sans-serif;
    background: #ffffff;
}

ul {
    list-style:none;
}

.wrapper {
    width: 1000px;
    margin: auto
}

.header {
    background: #009e9d;
    padding: 50px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    }

.left-sidebar {
    background: lightblue;
    float: left;
    width: 250px;
    height: 800px;
    text-align: center;
    text-transform: uppercase;
}

.content {
    background-image: url("images/fon.png");
    float: left;
    width: 750px;
    height: 800px;
    text-align: left;
    }

h1 {
    margin-top: 40px;
    text-align: center;
    color: midnightblue;
}

h2 {
    text-align: center;
    color: blue;
}

h3 {
    text-align: center;
}

.clear {
    clear: both;
}

.footer {
    background: #28282a;
    padding: 50px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}





